docs_dir: docs/
repo_name: 'tyson-swetnam/fractal-notebooks'
repo_url: 'https://github.com/tyson-swetnam/fractal-notebooks'

site_name: 'Fractal self-affinity'
site_description: 'Interactive fractal exploration with React applications, Python simulations, and Jupyter Notebooks'
site_author: 'Tyson Swetnam'
site_url: 'https://tyson-swetnam.github.io/fractal-notebooks'

edit_uri: edit/main/docs

# Copyright
copyright: 'Copyright &copy; 2024 The University of Arizona'

# Navigation Page

nav:
  - Home: 
    - 'Home': index.md
    - 'Introduction': introduction.md
    - 'Methods': methods.md
    - 'Results': results.md
    - 'Discussion': discussion.md
    - 'Conclusion': conclusion.md
    - 'References': references.md
    - 'Installation': installation.md
    - 'Dimensionality of Fractals': dims.md
    - 'Glossary & Maths': glossary.md
  - Interactive React Apps:
    - '1D/2D/3D Fractals':
      - 'Mandelbrot Set': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/mandelbrot'
      - 'Julia Sets': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/julia'
      - 'Brownian Motion': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/brownian'
      - "Conway's Game of Life": 'https://tyson-swetnam.github.io/fractal-notebooks/react#/conway'
      - 'Noise Patterns': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/noise'
      - 'Wave Dynamics': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/waves'
    - 'Branching Architectures':
      - 'Barnsley Ferns': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/ferns'
      - 'Fractal Trees': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/trees'
      - 'Pythagoras Tree': 'https://tyson-swetnam.github.io/fractal-notebooks/react#/pythagoras'
    - 'React App Home': 'https://tyson-swetnam.github.io/fractal-notebooks/react'
    - 'About React Apps': react-apps.md
  - Jupyter Notebooks:
    - 'Diffusion Limited Aggregation (DLA)': notebooks/old_dla.ipynb
    - 'Barnsleys Ferns': notebooks/ferns.ipynb
    - 'Self-similar Fractals': notebooks/fractals.ipynb
    - 'Self-affine Fractals': notebooks/fractal_generators.ipynb
    - 'Differential Box Counting': notebooks/dbc.ipynb
    - 'Riemann Zeta Functions 2D': notebooks/zeta_space.ipynb
    - 'Riemann Zeta Functions in 3D': notebooks/zeta_3d.ipynb
    - 'PyTorch test': notebooks/torch_test.ipynb
  - 'Applications':
    - 'Setup': applications.md
    - 'Differential Box-Counting': dbc.md
    - 'Viz: 3D Branching': tree_roots.md

# must also set Action to use `@nomaterial` branch instead of `@master` for material
theme:
  name: material
# setting features for the navigation tab
  features:
    - navigation.instant
    - navigation.expand
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.follow
    - content.code.copy
    - content.code.prettify
    - content.action.edit
    - content.action.view
    - content.tooltips
  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: fractals
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font:
    text: Garamond
    code: Courier
  favicon: assets/favicon.ico
  icon:
    logo: material/family-tree

# Options
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/tyson-swetnam/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@PrometheanGift

extra_css:
  - stylesheets/extra.css
  - chatbot_widget.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - chatbot_widget.js

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
      title: On this page
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          ignore_h1_titles: True
